.expandable-image__thumbnail {
    cursor: pointer;
}

.expandable-image__expanded__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.expandable-image__expanded__image {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (min-width: 600px) {
    .expandable-image__expanded__image {
        margin-left: -62px;
        margin-top: 68px;
        max-width: 450px;
        max-height: 450px;
    }
}