.openable-date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 10px;
    animation: smooth-appear 1s ease forwards;
    font-size: 92px;
    font-weight: bold;
    font-family: 'Engagement', cursive;
}