#root {
    width: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    #root {
        padding: 0.5rem;
    }
}

.calendar-card {
    background-color: var(--card-bg);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.decorative-image {
    position: fixed;
    overflow: hidden;
    z-index: -1;
}

.upper-mistletoe {
    top: 0;
    right: 0;
    height: 25vh;
    transform: rotate(225deg);
}

.bottom-mistletoe {
    bottom: 0;
    left: 0;
    height: 25vh;
    transform: rotate(45deg);
}
